<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Change password</h3>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: {method: :put, class: "form-horizontal col-md-8"}) do |f| %>
<%if resource.changepassword -%>
      <div class="panel panel-default">
        <div class="panel-body">As this is your first time logging in, please update you password.</div>
      </div>
<% end -%>
    
      <%= devise_error_messages! %>


      <div class="form-group">
        <label class="col-sm-2 control-label" for="user_login">Your current password</label>
        <div class="col-sm-6">
          <%= f.password_field :current_password, autofocus: true, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="user_login">New password</label>
        <div class="col-sm-6">
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-2 control-label" for="user_login">Confirm password</label>
        <div class="col-sm-6">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.submit "Update password", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
